body {
  background-color: black;
}

#sidebarStyle {
  display: flex;
  justify-content: left;
  width: 20%;
  color: light gray;
  margin-left: 50px;
}

#repoStyleMain {
  display: flex;
}

#pageBodyContainer {
  display: flex;
  justify-content: right;
  flex-wrap: row wrap;
  width: 60%;
  margin-right: 50px;

}

#pinNewRepos {
  display: flex;
  background-color: white;
  flex-direction: column;
}

#filterRepoForm {
  /* background-image: url('/css/searchicon.png');  */
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px;
}

#repoList {
  list-style-type: none;
}


#reposStyleMain {
  display: flex;
  justify-content: center;
}

#repo-styling {
  position: relative
}

#repo-container {
  position: absolute;
  top: 15%;
  left: 50%;
}
